{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="section">


<div class="left">

<h1>Upload PDF Files</h1>

<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <p>{{field.label}}</p>
        {{field}}
    {% endfor %}
    <br/>
    <br/>
    <input type="submit" value="Upload" class="btn-upload"/>
</form>
</div>

<div class="right">
<h1>Upload and get your documents signed</h1>
    <p>Simply select the designated signature by admin user</p>
    <img class="upload-image" src="{% static 'images/laptop.png' %}"/>
</div>

</div>

{% endblock %}