{% extends 'base.html' %}

{% block content %}

<div class="auth_page">
    <h2>Document Signing App</h2>

</div>
{% if page == 'login' %}
<div class="auth_page">
    <form method="POST" action="">
        {% csrf_token %}

        <div class="field">
        <label>Username</label>
        </div>

        <div class="field">
        <input type="text" name="username" placeholder="Enter username"/>
        </div>

        <div class="field">
        <label>Password</label>
        </div>
        <div class="field">
        <input type="password" name="password" placeholder="Enter password"/>
        </div>

        <div class="field">
        <input type="submit" value="Login" class="btn-upload"/>
        </div>
    </form>

    <p>have no account?
    <a href="{% url 'register' %}">Sign up</a> </p>

</div>

{% else %}

<!--register-->
<div class="auth_page">
    <form method="POST" action="">
        {% csrf_token %}
        {% for field in form %}
    <p>{{field.label}}</p>
        {{field}}
    {% endfor %}
    <br/>
    <br/>
        <input type="submit" value="Register" class="btn-upload"/>
    </form>
    <p>already have an account?
    <a href="{% url 'login' %}">Sign In</a></p>
</div>

{% endif %}
{% endblock %}