{% extends 'base.html' %}
{% load static %}


{% block content %}

<p>
<!--<a href="{% url 'upload-document' %}" class="btn-doc">Upload document for signing</a>-->
<!--<a href="{% url 'sign-document' %}" class="btn-doc">Sign existing document</a>-->

</p>
<!--<div class="title">-->
<!--<a href="{% url 'success-page' %}" class="btn-doc">Home</a>-->
<!--<a href="{% url 'upload-document' %}" class="btn-doc">Upload Document</a>-->
<!--<a href="{% url 'sign-document' %}" class="btn-doc">Sign existing document</a>-->
<!--</div>-->

{% include 'navbar.html' %}

<div class="interface">

    <div class="left_interface">

        <a class="btn-square" href="{% url 'upload-document' %}">Upload Document</a>

        <p class="btn-highlight">Documents</p>
        <ul class="doc_options">
            <li><a href="{% url 'docs_to_sign' %}">Waiting for me</a> </li>
            <li><a href="{% url 'success-page' %}?q=for_others">Waiting for others</a> </li>
            <li><a href="{% url 'success-page' %}?q=signed">Signed</a> </li>
        </ul>

        <a href="{% url 'send-doc' %}" class="btn-highlight">Send For Signing</a>
<hr/>
        <code class="btn-highlight"><strong>NB:if you have no signature, you will be redirected to admin login for setup</strong></code>
        <a href="{% url 'sign-document' %}" class="btn-highlight">Select & Sign Documents </a>

    </div>

    <div class="right_interface">

    {% for doc in all_documents %}
        <div class="content">
            <a href="{{doc.signed_document_url}}">Download Document</a>
            <h5>{{doc}}</h5>
            {% if doc.user_signed < doc.num_of_signatures %}
            <p style="color:red;">Waiting for others</p>
            {% endif %}
            <p>

                <span class="not_signed">signed by {{doc.signed_by}}</span>

                {% if show_sign %}
                <span><a href="" class="btn-high">Sign Document</a> </span>
                {% endif %}
            </p>
        </div>

    {% endfor %}

    </div>

</div>

<!--<h1>Documents Waiting to be signed</h1>-->

<!--<ul>-->
<!--{% for doc in all_documents %}-->

<!--    <li>{{doc}}</li>-->


<!--{% endfor %}-->
<!--</ul>-->



<!--<h1>List of signed documents</h1>-->

<!--<ul>-->
<!--{% for s_doc in all_documents %}-->

<!--    <li>{{s_doc}}</li>-->


<!--{% endfor %}-->
<!--</ul>-->

{% endblock %}