{% extends 'base.html' %}
{% load static %}
{% block content %}

<p>
<!--<a href="{% url 'upload-document' %}" class="btn-doc">Upload document for signing</a>-->
<!--<a href="{% url 'sign-document' %}" class="btn-doc">Sign existing document</a>-->

</p>

<h1>Documents Waiting to be signed</h1>

<ul>
{% for doc in documents %}

    <li>{{doc}}</li>


{% endfor %}
</ul>



<h1>List of signed documents</h1>

<ul>
{% for s_doc in signed_docs %}

    <li>{{s_doc}}</li>


{% endfor %}
</ul>

{% endblock %}