.container{
    margin:1%;
    margin-top:2%;
    padding:10px;
    background:#5555;
    color:#000;

}
.nav{
    margin-top:-4%;
    display:flex;
    justify-content:space-between;
    background:blue;
    align-items:center;
    color:#ffffff;

}
.nav a{
    color:#fff !important;
}
.interface{
    display:flex;
    width:100%;
}

.left_interface{
    width:25%;
    display:flex;
    flex-direction:column;
}
.right_interface{
    width:75%;
    display:flex;
    flex-direction:column;
}

.field{
    display:flex;
    justify-content:start;
    width:100%;
    margin-bottom:2%;
}
.auth_page{
    display:flex;
    flex-direction:column;
    width:30%;
    margin:auto;
}
a{
    color:blue;
}
.title{
    display:flex;
    justify-content:center;
}
.upload-image{
    width:40vw;
    height:50vh;
}
.btn-upload{
    width:320px;
}

.section{
    display:flex;
    justify-content:center;
}
.left{
    width:45%;
}
.right{
    width:45%;
}
input{
    width:300px;
    padding:10px;
    border:1px solid #e6e5e3;
}
select{
    width:320px;
    padding:10px;
    border:1px solid #e6e5e3;
}

.btn-doc{
    padding:10px;
    width:320px;
    background:#ffffff;
    color:#000;
    border-radius:14px;
}

ul li{
list-style:number;
}